<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/view">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Book List</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Aurthor Name</th>
            <th scope="col">Book</th>
            <th scope="col">Year</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.book}}</td>
            <td>{{this.year}}</td>
            <td>{{this.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}
</div>